.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.notebooks-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.notebook-count {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-right: 50px;
}